.mainarea
{
    display: flex;
    float: left;
    padding: 20px;
}

.controls
{
    padding: 20px;
}

.cell
{
    display: flex;
    position: relative;
    padding: 0px;
    margin: 0px;
    height: 3em;
    width: 3em;
    justify-content: center;
    align-items: center;
}

.digit {
    font-size: 2em;
}

.start {
    width: 100%;
    display: block;
}

.updatetype {
    width: 8em;
}

.selected {
    color: white;
    background-color: blue;
}

.selectedcell {
    box-shadow: inset 0px 0px 0px 3px red;
}

td {
    padding: 3px;
}

.pencilmark-center {
    font-size: 0.8em;
    color: blue;
}

.pencilmark-value {
    font-size: 1.8em;
    font-weight: bold;
    color: blue;
}

.pencilmark-fixed {
    font-size: 1.8em;
    font-weight: bold;
    color: black;
}

.pencilmark-corner {
    font-size: 0.8em;
    position: absolute;
    padding: 5px;
    top: 0px;
    left: 0px;
    color: blue;
}