.navbar {
    margin-bottom: 20px;
}

.cell
{
    display: flex;
    position: relative;
    padding: 0px;
    margin: 0px;
    height: 4em;
    width: 4em;
    justify-content: center;
    align-items: center;
    box-sizing: content-box;
}

.cage {
    display: flex;
    position: relative;
    padding: 0px;
    height: 95%;
    width: 95%;
    justify-content: center;
    align-items: center;
}


.digit {
    font-size: 2em;
}

.start {
    width: 100%;
    display: block;
}

.updatetype {
    width: 8em;
}

.selected {
    color: white;
    background-color: blue;
}

.selectedcell {
    box-shadow: inset 0px 0px 0px 3px red;
}

td {
    padding: 3px;
}

.pencilmark-center {
    font-size: 1em;
    color: blue;
    user-select: none;
}

.pencilmark-value {
    font-size: 2.4em;
    font-weight: bold;
    color: blue;
    user-select: none;
}

.pencilmark-fixed {
    font-size: 2.4em;
    font-weight: bold;
    color: black;
    user-select: none;
}

.pencilmark-corner {
    font-size: 1em;
    position: absolute;
    padding-right: 4px;
    bottom: -3px;
    right: 0px;
    color: blue;
    user-select: none;
}

.pencilmark-cage {
    font-size: 0.8em;
    position: absolute;
    padding-left: 4px;
    top: 0px;
    left: 0px;
    color: black;
    user-select: none;
}